@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    background-color: rebeccapurple;
    margin: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;

}

.btn:focus{
    outline:0;
}

.btn:hover{
    opacity: 0.9;
}